In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['John', 'Sam', 'Ram', 'Sita'],
        'Age': [18, 19, 22, 20],
        'Mark': [87, 74, 97, 98]}
df = pd.DataFrame(data)

# Store the DataFrame into an Excel file
excel_file = 'data.xlsx'
df.to_excel(excel_file, index=False)

# Read and display the Excel file data
df_read = pd.read_excel(excel_file)
print("Excel File Data:")
print(df_read)

# Display column headings and shape
print("\nColumn Headings:")
print(df_read.columns)
print("\nShape of the DataFrame:")
print(df_read.shape)

# Display particular column values
print("\nName Column:")
print(df_read['Name'])

# Display particular row values
print("\nSecond Row:")
print(df_read.iloc[1])

# Slicing operations
print("\nFirst two rows:")
print(df_read[:2])

print("\nRows 1 to 3 and columns 'Name' and 'City':")
print(df_read.loc[1:3, ['Name', 'Mark']])

# Create another DataFrame
data2 = {'Name': ['Sree', 'Abi'],
         'Age': [27, 32],
         'Mark': [89, 90]}
df2 = pd.DataFrame(data2)

# Store the second DataFrame into another Excel file
excel_file2 = 'data2.xlsx'
df2.to_excel(excel_file2, index=False)

# Read the second Excel file
df_read2 = pd.read_excel(excel_file2)

# Merge the two DataFrames using append
merged_df = pd.concat([df_read, df_read2], ignore_index=True)

# Store the merged DataFrame into a new Excel file
merged_excel_file = 'merged_data.xlsx'
merged_df.to_excel(merged_excel_file, index=False)

print("\nMerged DataFrame:")
print(merged_df)

Excel File Data:
   Name  Age  Mark
0  John   18    87
1   Sam   19    74
2   Ram   22    97
3  Sita   20    98

Column Headings:
Index(['Name', 'Age', 'Mark'], dtype='object')

Shape of the DataFrame:
(4, 3)

Name Column:
0    John
1     Sam
2     Ram
3    Sita
Name: Name, dtype: object

Second Row:
Name    Sam
Age      19
Mark     74
Name: 1, dtype: object

First two rows:
   Name  Age  Mark
0  John   18    87
1   Sam   19    74

Rows 1 to 3 and columns 'Name' and 'City':
   Name  Mark
1   Sam    74
2   Ram    97
3  Sita    98

Merged DataFrame:
   Name  Age  Mark
0  John   18    87
1   Sam   19    74
2   Ram   22    97
3  Sita   20    98
4  Sree   27    89
5   Abi   32    90